<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cryptogate</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Admin)}"/>
    <h1>Администрационная панель</h1>
    <br/>
    <h4>Сотрудники:</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>Адрес пользователя</b></td>
            <td><b>Никнейм</b></td>
            <td><b>Департамент</b></td>
            <td><b>Роль</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.userAddress}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.department.departmentName}"></td>
            <td th:text="${u.role.roleName}"></td>
            <td>
                <!--                <a class="btn btn-secondary" th:href="@{'admin/edit/' + ${u.passNumber}}">Изменить уровень доступа</a>-->
                <a class="btn btn-danger" th:href="@{'admin/remove/' + ${u.userAddress}}">Отстранить</a>
            </td>
        </tr>
        <tr>
            <form th:action="@{'admin/user/add'}" method="post">
                <td>
                    <input type="text" class="form-control" name="userAddress" placeholder="User address">
                </td>
                <td>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </td>
                <td>
                    <select name="department" id="dep" class="form-control" required
                            aria-label=".form-select-sm example">
                        <option selected disabled value=" ">Choose</option>
                        <option value="1">Информационные технологии</option>
                        <option value="2">Отдел кадров</option>
                        <option value="3">Финансы</option>
                        <option value="4">Отдел продаж</option>
                        <option value="5">Маркетинг</option>
                        <option value="6">Операции</option>
                        <option value="7">Служба поддержки</option>
                    </select>
                </td>
                <td>
                    <select name="role" id="ty" required class="form-control" aria-label=".form-select-sm example">
                        <option selected disabled value=" ">Choose</option>
                        <option value="2">Менеджер</option>
                        <option value="3">Сотрудник</option>
                        <option value="4">Гость</option>
                    </select>
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Принять">
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>